*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #EBEBEB;
}

/* nav */
.header__nav{
    background: #322E41;
}
.header__con-nav{
    display: flex;
    justify-content: space-between;
}
.header__nav-list{
    display: flex;
    padding-top: 23px;
    padding-bottom: 23px;
    gap: 30px;
}
.header__nav-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    padding-bottom: 21px;
}
.header__nav-link:hover {
    border-bottom: 2px solid white;
}
.logo{
    padding: 14px 0;
}
.header__nav-link:hover{
    color: #FFE600;
}

.header__nav-list{
  
}

/* nav */
/* header content */

.header__content{
    background: url(../images/headerContent.jpg) no-repeat center /cover;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.header__content-title{
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    
}

.header__content-text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #FFFFFF;
}

.spen{
    font-weight: 700;
}



/* header content */
/* news */
.news{
    padding: 22px 0;
}

.main__news-box1{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}


.main__news-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    text-transform: uppercase;
    color: #2E2E3C;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px 2px 2px 9px;
}

.main__news-linkmain{
    font-weight: 500;
    font-size: 22px;
    line-height: 18px;
    color: #FFFFFF;
    border-radius: 4px ;
    background: #9A98EA;
    padding: 7px 10px;
}

.main__new-items{
    margin-top: 29px;
}

.main__new-item{
    max-width: 350px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D7D6DC;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 15px;
}
.main__news-img{
    border-radius: 3px;
}

.main__news-titleit{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #2C2A2A;
    margin-top: 10px;
    
}

.main__new-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #9B9B9B;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main__new-linkit{
font-weight: 700;
font-size: 22px;
line-height: 26px;
color: #050505;
background: #DFC900;
border-radius: 3px;
padding: 11px 134px;
transition: background 250ms, color 250ms;
}

.main__new-linkit:hover{
    color: #FFE600;
    background: #050505;
}

.main__new-items{
    display: flex;
    justify-content: space-between;
}

/* news */
/* products */


/* procuts */
/* krossi */
.nike__items {
    padding-top: 31px;
    display: flex;
    column-gap: 32px;
    justify-content: center;
}
.nike__item {
    width: 328px;
    background: #FFFFFF;
    height: 435px;
}
.nike__item-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 18px;
    padding-top: 15px;
    padding-left: 10px;
    color: #000000;
}
.nike__item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #6A6A6A;
    width: 300px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.item__bottom-link {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #050505;
    text-transform: uppercase;
    background: #DFC900;
    padding: 10px 85px;
    border-radius: 3px;
    margin-left: 15px;
    margin-top: 15px;
    transition: 0.5s;
}
.item__bottom{
    padding-top: 10px;
}
.item__bottom-price{
    padding-left: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.item__bottom-link:hover {
    background: #000000;
    color: #DFC900;
}


/* krossi */
/* just */




/* just */
/* express */



/* express */
/* footer */



/* footer */
