*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #EBEBEB;
}

/* nav */
.header__nav{
    background: #322E41;
}
.header__con-nav{
    display: flex;
    justify-content: space-between;
}
.header__nav-list{
    display: flex;
    padding-top: 23px;
    padding-bottom: 23px;
    gap: 30px;
}
.header__nav-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    padding-bottom: 21px;
}
.header__nav-link:hover {
    border-bottom: 2px solid white;
}
.logo{
    padding: 14px 0;
}
.header__nav-link:hover{
    color: #FFE600;
}

.header__nav-list{
  
}

/* nav */
/* header content */

.header__content{
    background: url(../images/headerContent.jpg) no-repeat center /cover;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.header__content-title{
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    
}

.header__content-text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #FFFFFF;
}

.spen{
    font-weight: 700;
}



/* header content */
/* news */



/* news */
/* products */


/* procuts */
/* krossi */




/* krossi */
/* just */




/* just */
/* express */



/* express */
/* footer */



/* footer */
